@import "../main.scss";

.languages {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 40%;
    &__title {
        font-size: fontClamp(1.75, 2.5);
    }
    &__bar {
        display: flex;
        overflow: hidden;
        margin: 2% 0;
        width: 80%;
        min-width: 200px;
        max-width: 400px;
        height: 10px;
        border-radius: 20px;
        background-color: #fff;
        div {
            height: 100%;
        }
        &__JavaScript {
            background-color: yellow;
        }
        &__TypeScript {
            background-color: cyan;
        }
        &__SCSS,
        &__SASS,
        &__CSS {
            background-color: purple;
        }
        &__HTML {
            background-color: orange;
        }
    }
    &__language {
        display: flex;
        margin: 5px 0;
        font-size: fontClamp(0.75, 1.5);
    }
    &__languageText {
        margin-right: 0.5%;
    }
}
