@import "../main.scss";

.github__repos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    font-family: $font-base;
    background-color: #444;
    color: #fff;
}

.repo {
    display: flex;
    flex-direction: column;
    border: 2px solid #fff;
    border-radius: 16px;
    width: 80%;
    min-width: 273px;
    max-width: 1200px;
    margin: 20px 0;

    &__name {
        padding: 10px;
        overflow: hidden;
        font-size: fontClamp(2, 5);
        border-bottom: 2px solid #fff;
    }
}
